body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  margin: 10px 0 0 10px;
}

header {
  position: fixed;
  width: 100%;
  background-color: green;
  color: white;
  margin: 0;
  border: 0;
  padding: 20px;
}

h1 {
  margin: 0;
}

a {
  color: #00B7FF;
}

.gamesList {
  border: 0px solid red;
}

.gameCell {
  text-align: center;
  border: 0px solid blue;
  padding: 5px;
}

/*  tic tac toe grid */

.grid {
  border: 0;
  border-collapse: collapse;
}

.square {
  border: 1px solid #808080;
  text-align: center;
  width: 30px;
  height: 30px;
  color: black;
}

.squareX {
  border: 1px solid #808080;
  text-align: center;
  width: 30px;
  height: 30px;
  color: red;
}

.squareO {
  border: 1px solid #808080;
  text-align: center;
  width: 30px;
  height: 30px;
  color: blue;
}