<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <main>
    <h1><%= number %> Most Recent Games</h1>

    <% include ./partials/_gamesList %>
  </main>

</body>
</html>