<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <% include ./partials/_header %>

  <main>

    <h1>Game Listing</h1>

    <h3>Moves: <%= moves %></h3>
    <h3>Winner: <%= winner %></h3>
    <h3>Results: <%= games.length %></h3>

    <% include ./partials/_gamesList %>
  </main>

  <footer>
  </footer>

</body>
</html>