<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <% include ./partials/_header %>

  <main>

    <h2>Game Search</h2>

    <%
      let movesText

      console.log(moves)

      if (moves != "Any") {
        movesText = moves.split('').join('-')
      } else {
        movesText = moves
      }
    %>


    <h3>Moves: <%= movesText %></h3>
    <h3>Winner: <%= winner %></h3>
    <h3>Results: <%= games.length %></h3>

    <% include ./partials/_gamesList %>
  </main>

  <footer>
  </footer>

</body>
</html>