<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head %>
</head>
<body>

  <% include ./partials/_header %>

  <main>
    <h2><%= number %> Most Recent Games</h2>

    <% include ./partials/_gamesList %>
  </main>

</body>
</html>