<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <header>
  </header>

  <main>
    <% if (game) { %>
      <h1>Game #<%= game.id %></h1>
      <p>Moves: <%= game.moves %></p>
      <p>Winner: <%= game.winner %></p>
    <% } else { %>
      <h1>Game not found.</h1>
      <p>That game does not exist.</p>
    <% } %>
  </main>

  <footer>
  </footer>

</body>
</html>