<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <header>
  </header>

  <main>
    <h1>TTTDB</h1>
    <button onClick="test()">Button</button>
  </main>

  <footer>
  </footer>

  <script src="./javascripts/test.js"></script>

</body>
</html>