<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <main>
    <h1>Welcome to Tic-Tac-Toe DB</h1>
    <h2>Most Recent Games</h2>

    <% include ./partials/_gamesList %>
  </main>

</body>
</html>