<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <% include ./partials/_header %>

  <main>
    <h2>Welcome to Tic-Tac-Toe DB</h2>
    <h3>Most Recent Games</h3>

    <% include ./partials/_gamesList %>
  </main>

</body>
</html>